:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: rgb(36, 39, 58);
    --entry: rgb(30, 32, 48);
    --primary: rgb(202, 211, 245);
    --secondary: rgb(165, 173, 203);
    --tertiary: rgb(128, 135, 162);
    --content: rgb(184, 192, 224);
    --code-block-bg: rgb(24, 25, 38);
    --code-bg: rgb(36, 39, 58);
    --border: rgb(54, 58, 79);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
