# References https://gohugo.io/host-and-deploy/host-on-github-pages/
name: publish

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: sudo snap install hugo --edge

      - uses: actions/checkout@v4

      - uses: actions/configure-pages@v5

      - name: build
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
        run: hugo --minify

      - name: upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: deploy
        uses: actions/deploy-pages@v4
